<section>

    <form @submit.prevent="performAction">
        <b-field label="Имя пользователя" class="has-text-white">
            <b-input maxlength="30" v-model="username"></b-input>
        </b-field>
    
        <b-field label="Пароль">
            <b-input type="password" password-reveal v-model="password"></b-input>
        </b-field>
    
        <div class="buttons">
            <b-button 
                type="is-warning"
                native-type="submit"
            >
                Далее
            </b-button>
        </div>
    </form>
</section>